body{
    background-color: beige;
}

.container{

    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 600px;
    width: 100%;
    background-color: cadetblue;
    border: 1px solid red;
}
.row1,.row2,.row3,.row4{

    border: 1px dotted greenyellow;
}
.row1{
    grid-column: 1/13;
    
    grid-row:1/2;
    
    background-color:black;
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row2{

    grid-column: 1/13;
    
    grid-row:2/3;
    background-color: rgb(15, 17, 17);
    height:70px ;
    color: white;
    border: 1px solid white;
    
}
ul li{
    list-style-type: none;
    display: inline;
    padding: 20px;

}
li:hover{
    background-color: cadetblue;
}

